/node_modules/
/public/bundle.*
/public/bundle/

/test/bundle.*
/test/bundle/

#/npm-debug.log
#/package-lock.json

# npm output
/*.tgz

/cypress/videos/
/cypress/screenshots/

# IntelliJ IDEA folder '/.idea/' intentionally not included
#/.idea/

# macOS:
# You should ignore these system-wide
#
#.DS_Store
