@import url("demo.css");

.gxTriangle {
  fill: blue;
}
.gxTriangle .handle {
  visibility: hidden;
}

.gxTriangle.selected {
  stroke-width: 3px;
  stroke: red;
}
.gxTriangle.selected .handle {
  fill: red;
  visibility: initial;
}
