/*
* public/global.css
*
* Global CSS, read in by 'index.html' for all the pages.
*/

/* From Sapper template */
body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
/* From Sapper template END */

/* disabled
div#cradle {
  _position: fixed;
  top: 0;
  left: 0;
  /_* Note: 99% lets also the right red edge to be shown, even if there are vertical scroll bars (OS X Safari) *_/
  width: 99%;
  border: 1px solid red;
}
*/

/* DEBUG
*/
.debug {
  stroke-width: 1px;
  stroke: red;
  fill: none;
}

text.debug {
  fill: red;
}

svg {
  border: 1px solid red;
  width: 100%;
  height: 600px;
}

