div#cradle {
  _position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid red;
}

rect.main {
  fill: blue;
  fill-opacity: 0.8;
}

rect.corner {
  fill: yellow;
  fill-opacity: 0.5;
}

