@import url("demo.css");

circle.n0 {
  fill: blue;
}
circle.n1 {
  fill: gray;
}
circle.n2 {
  fill: blue;
}
circle.n3 {
  fill: purple;
}
circle.n4 {
  fill: red;
}
circle.n5 {
  fill: green;
}
circle.n6 {
  fill: orange;
}
circle.n7 {
  fill: yellow;
}
circle.n8 {
  fill: magenta;
}
circle.n9 {
  fill: aqua;
}
circle.n10 {
  fill: purple;
}
