div#cradle {
  _position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  border: 1px solid red;
}

circle.mouse {
  fill: blue;
}
circle.touch0 {
  fill: gray;
}
circle.touch1 {
  fill: blue;
}
circle.touch2 {
  fill: purple;
}
circle.touch3 {
  fill: red;
}
circle.touch4 {
  fill: green;
}
circle.touch5 {
  fill: orange;
}
circle.touch6 {
  fill: yellow;
}
circle.touch7 {
  fill: magenta;
}
circle.touch8 {
  fill: aqua;
}
circle.touch9 {
  fill: purple;
}
