rect.main {
  fill: lightblue;
  fill-opacity: 0.8;
}
rect.main2 {
  fill: purple;
  fill-opacity: 0.8;
  stroke: brown;
  stroke-width: 3 px;
}
rect.corner {
  fill: yellow;
  fill-opacity: 0.5;
}
rect {
  fill: purple;
}

