@import url("demo.css");

g.my_triangle {
  fill: blue;
}

line.connector {
  stroke-width: 10px;
  stroke: black;
}
line.connector.constrained {
  stroke: red;
}

/* DEBUG
*/
rect.debug {
  stroke-width: 1px;
  stroke: red;
  fill-opacity: 0;
}